.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__title {
  font-size: 2.25rem;
  font-weight: 800;
  text-align: start;
  margin-bottom: 1rem;

  animation-name: fadeUp;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.hero__subtitle {
  font-size: 0.9rem;
  text-align: start;
  margin-bottom: 1rem;

  display: none;

  animation-name: fadeUp;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  opacity: 0;
}

.hero__search {
  position: relative;
  max-width: 800px;
  width: 100%;
  background-color: var(--color-surface-transparent);
  backdrop-filter: blur(10px);
  border: 2px solid transparent;
  margin-top: 1.5rem;
  transition: var(--transition-fast);

  animation-name: fadeUp;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  opacity: 0;
}

.hero__search:active {
  border-color: var(--color-secondary);
}

.hero__search-input {
  width: 100%;
  height: 55px;
  background-color: transparent;
  border: none;
}

.hero__search-icon {
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

@media (hover: hover) {
  .hero__search:hover,
  .hero__search:focus-visible {
    border-color: var(--color-secondary);
  }
}

@media screen and (min-width: 576px) {
  .hero {
    align-items: center;
  }

  .hero__title {
    text-align: center;
  }

  .hero__subtitle {
    display: block;
    text-align: center;
  }

  .hero__search {
    animation-name: fadeUp;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    opacity: 0;
  }
}
