.my-list-title-actions {
  display: block;
}

.my-list-title-actions__wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.my-list-title-actions__default {
  font-size: 0.75rem;
}

.my-list-title-actions__btn {
  height: auto;
  padding: 0;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color-text-muted-1);
  background-color: transparent;
}

.my-list-title-actions__btn:active {
  color: var(--color-secondary);
  background-color: transparent;
  text-decoration: underline;
}

.my-list-title-actions__btn--score {
  display: flex;
  align-items: center;
  gap: 5px;
}

.my-list-title-actions__score-icon {
  width: 9px;
  height: 9px;
  margin-bottom: 1px;
  filter: invert(25%);
}

.my-list-title-actions__divider {
  font-size: 0.75rem;
  color: var(--color-text-muted-1);
}

@media (hover: hover) {
  .my-list-title-actions__btn:hover,
  .my-list-title-actions__btn:focus-visible {
    background-color: transparent;
    text-decoration: underline;
  }
}

@media screen and (min-width: 576px) {
  .my-list-title-actions__default {
    font-size: 0.8rem;
  }

  .my-list-title-actions__btn {
    font-size: 0.8rem;
  }

  .my-list-title-actions__divider {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) {
  .my-list-title-actions {
    display: none;
  }
}
