.list-card {
  background-color: var(--color-surface-solid);
  outline: 1px solid transparent;
  transition: var(--transition-fast);
  cursor: pointer;
}

.list-card:active {
  outline: 1px solid var(--color-border);

  .list-card__title {
    color: var(--color-secondary);
    filter: var(--filter-brightness-active);
  }
}

.list-card__link {
  display: grid;
  grid-template-columns: 130px 1fr;
}

.list-card__poster {
  position: relative;
  aspect-ratio: calc(5 / 7);
}

.list-card__score,
.list-card__favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  background-color: var(--color-surface-transparent);
  backdrop-filter: blur(10px);
  transition: var(--transition-fast);

  opacity: 0;
}

.list-card__score-count,
.list-card__favorites-count {
  font-size: 2rem;
  font-weight: 700;
}

.list-card__score-label,
.list-card__favorites-label {
  font-size: 0.7rem;
}

.list-card__meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.list-card__meta-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list-card__title-group {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
}

.list-card__title {
  font-size: 0.8rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: var(--transition-fast);
}

.list-card__rank {
  font-size: 0.8rem;
  font-weight: 700;
  text-align: end;
}

.list-card__rank-hash {
  font-family: Arial, sans-serif;
}

.list-card__rank--1 {
  color: var(--rank-1);
}

.list-card__rank--2 {
  color: var(--rank-2);
}

.list-card__rank--3 {
  color: var(--rank-3);
}

.list-card__synopsis-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.list-card__synopsis {
  font-size: 0.65rem;
  color: var(--color-text-muted-1);
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list-card__year {
  font-size: 0.65rem;
  color: var(--color-text-muted-1);
}

.list-card__type {
  font-weight: 500;
}

.list-card__meta-footer {
  display: none;
}

.list-card__studios {
  font-size: 0.65rem;
  color: var(--color-text-muted-1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .list-card__link {
    grid-template-columns: 150px 1fr;
  }

  .list-card__synopsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .list-card__meta-footer {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .list-card__link {
    grid-template-columns: 160px 1fr;
  }

  .list-card__title {
    font-size: 0.85rem;
  }

  .list-card__rank {
    font-size: 0.85rem;
  }
}

@media (hover: hover) {
  .list-card:hover,
  .list-card:focus-visible {
    outline: 1px solid var(--color-border);

    .list-card__score,
    .list-card__favorites {
      opacity: 1;
    }

    .list-card__title {
      color: var(--color-secondary);
    }
  }
}
