.my-list-card {
  background-color: var(--color-surface-solid);
  outline: 1px solid transparent;
  transition: var(--transition-fast);
  cursor: pointer;
}

.my-list-card:active {
  outline: 1px solid var(--color-border);

  .my-list-card__title {
    color: var(--color-secondary);
    filter: var(--filter-brightness-active);
  }
}

.my-list-card__link {
  display: grid;
  grid-template-columns: 130px 1fr;
}

.my-list-card__poster {
  position: relative;
  aspect-ratio: calc(5 / 7);
}

.my-list-card__score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  background-color: var(--color-surface-transparent);
  backdrop-filter: blur(10px);
  transition: var(--transition-fast);

  opacity: 0;
}

.my-list-card__score-count {
  font-size: 2rem;
  font-weight: 700;
}

.my-list-card__score-label {
  font-size: 0.7rem;
}

.my-list-card__meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.my-list-card__meta-header {
  display: grid;
  gap: 1.5rem;
}

.my-list-card__title {
  font-size: 0.8rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: var(--transition-fast);
}

.my-list-card__synopsis {
  font-size: 0.65rem;
  opacity: 0.8;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.my-list-card__meta-footer {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .my-list-card__link {
    grid-template-columns: 150px 1fr;
  }

  .my-list-card__synopsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .my-list-card__link {
    grid-template-columns: 160px 1fr;
  }

  .my-list-card__title {
    font-size: 0.85rem;
  }
}

@media (hover: hover) {
  .my-list-card:hover,
  .my-list-card:focus-visible {
    outline: 1px solid var(--color-border);

    .my-list-card__score {
      opacity: 1;
    }

    .my-list-card__title {
      color: var(--color-secondary);
    }
  }
}
