.relation-card {
  background-color: var(--color-surface-solid);
  border: 1px solid transparent;
  height: 100%;
  transition: var(--transition-fast);
  cursor: pointer;
}

.relation-card__link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  height: 100%;
}

.relation-card__relation-type {
  font-size: 0.7rem;
  color: var(--color-text-muted-2);
}

.relation-card__name {
  font-size: 0.75rem;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: var(--transition-fast);
}

.relation-card:hover,
.relation-card:focus-visible {
  border: 1px solid var(--color-border);

  .relation-card__name {
    color: var(--color-secondary);
  }
}

.relation-card:active {
  .relation-card__name {
    color: var(--color-secondary);
    filter: var(--filter-brightness-active);
  }
}

@media screen and (min-width: 576px) {
  .relation-card__name {
    font-size: 0.8rem;
  }
}
