.anime-page {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  padding: 120px 1rem 200px;
  min-height: 100vh;
}

.anime-page__bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  
  background-color: var(--color-bg);
  background-image: var(--gradient-page-bg), url("/myanime-bg.jpg");
  background-position: left;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .anime-page {
    padding: 150px 1rem 200px;
  }
}
