.home-page {
  display: flex;
  flex-direction: column;
  gap: 10rem;

  padding: 170px 1rem 200px;
  min-height: 100vh;
}

.home-page__bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100vh;

  background-color: var(--color-bg);
  background-image: var(--gradient-page-bg), url("/myanime-bg.jpg");
  background-position: left;
  background-size: cover;
}

.home-page__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  animation-name: fade;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.45s;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .home-page {
    gap: 8rem;
  }
}
