.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  padding: 150px 1rem 200px;

  max-width: calc(1100px + 2rem);
  min-height: 100vh;
  margin: 0 auto;

  animation-name: fadeUp;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  opacity: 0;
}

.login-page__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 100%;
  max-width: 700px;
}

.login-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.login-form__input {
  width: 100%;
  max-width: 700px;
}

.login-form__password-input {
  position: relative;
}

.login-form__toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 1rem;
  bottom: 50%;
  transform: translateY(50%);
  filter: invert(60%);
  transition: var(--transition-fast);
  cursor: pointer;
}

.login-form__toggle:active {
  filter: invert(5%) var(--filter-brightness-active);
}

.login-form__error {
  font-size: 0.7rem;
  color: var(--error);
}

.login-page__register {
  display: flex;
  gap: 5px;
  font-size: 0.8rem;
}

.login-page__register-link {
  text-decoration: underline;
}

.login-page__register-link:active {
  color: var(--color-secondary);
  filter: var(--filter-brightness-active);
}

@media (hover: hover) {
  .login-form__toggle:hover,
  .login-form__toggle:focus-visible {
    filter: invert(5%);
  }

  .login-page__register-link:hover,
  .login-page__register-link:focus-visible {
    color: var(--color-secondary);
  }
}
