.search-page {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  padding: 170px 1rem 200px;

  max-width: calc(1100px + 2rem);
  min-height: 100vh;
  margin: 0 auto;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (min-width: 768px) {
  .search-page {
    gap: 6rem;
  }
}
