.pagination {
  display: flex;
  justify-content: space-between;
  gap: 1.75rem;
  margin-top: 3rem;
  height: 40px;
}

.pagination__btn {
  display: grid;
  place-content: center;
  height: 40px;
  padding: 0 1.5rem;
  color: var(--color-text-primary);
  font-size: 0.7rem;
  font-weight: 500;
  background-color: var(--color-surface-solid);
}

.pagination__btn:active {
  background-color: var(--color-border);
  filter: var(--filter-brightness-active);
}

.pagination__page {
  width: 100%;
  display: grid;
  place-content: center;
  font-size: 0.7rem;
  background-color: var(--color-surface-solid);
}

@media screen and (min-width: 1024px) {
  .pagination {
    gap: 2.25rem;
  }
}

@media (hover: hover) {
  .pagination__btn:hover,
  .pagination__btn:focus-visible {
    background-color: var(--color-border);
  }
}
