.loading-anime-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 1.75rem;
}

.loading-anime-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loading-anime-grid--home .loading-anime-card:nth-child(n + 7) {
  display: none;
}

.loading-anime-card__poster {
  aspect-ratio: calc(5 / 7);
  background-color: var(--color-surface-transparent);
  backdrop-filter: blur(10px);
}

.loading-anime-card__title {
  height: 1rem;
  background-color: var(--color-surface-transparent);
  backdrop-filter: blur(10px);
}

@media screen and (min-width: 768px) {
  .loading-anime-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .loading-anime-grid--home .loading-anime-card:nth-child(n + 5) {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .loading-anime-grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem 2.25rem;
  }

  .loading-anime-grid--home .loading-anime-card:nth-child(5) {
    display: flex;
  }
}
