.footer {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: calc(1100px + 2rem);
  padding: 4rem 1rem;
  margin: 0 auto;
}

.footer__meta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__brand {
  font-size: 1rem;
  font-weight: 700;
}

.footer__disclaimer,
.footer__copy {
  font-size: 0.75rem;
  color: var(--color-text-muted-2);
}

.footer__auth {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__auth-title {
  font-size: 1rem;
  font-weight: 700;
}

.footer__link {
  font-size: 0.75rem;
  color: var(--color-text-muted-2);
  cursor: pointer;
}

.footer__link:active {
  color: var(--color-secondary);
  filter: var(--filter-brightness-active);
}

@media (hover: hover) {
  .footer__link:hover,
  .footer__link:focus-visible {
    color: var(--color-secondary);
  }
}

@media screen and (min-width: 768px) {
  .footer__wrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__auth {
    align-items: end;
  }
}
