#root {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  scroll-behavior: smooth;
}

button {
  height: 52px;
  padding: 0 1.5rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--color-bg);
  border: none;
  background-color: var(--color-primary);
  transition: var(--transition-fast);
  cursor: pointer;
}

button:active {
  background-color: var(--color-secondary);
  filter: var(--filter-brightness-active);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

li {
  list-style: none;
}

a {
  color: var(--color-text-primary);
  text-decoration: none;
}

input {
  height: 52px;
  padding: 0 1rem;
  font-family: inherit;
  font-size: 0.8rem;
  color: var(--color-text-primary);
  border: 1px solid var(--color-border);
  outline: none;
  background-color: var(--color-surface-transparent);
}

input::placeholder {
  color: var(--color-text-muted-1);
  font-weight: 300;
}

@media (hover: hover) {
  button:hover,
  button:focus-visible {
    background-color: var(--color-secondary);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
