@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* TYPOGRAPHY */
  --font: "Poppins", system-ui, Arial, sans-serif;

  /* COLORS */
  --color-primary: rgb(245, 245, 245);
  --color-secondary: rgb(255, 138, 0);

  --color-bg: rgb(16, 16, 16);

  --color-surface-solid: rgb(40, 40, 40);
  --color-surface-transparent: rgba(255, 255, 255, 0.15);

  --color-border: rgba(255, 255, 255, 0.3);

  --color-text-primary: rgb(245, 245, 245);
  --color-text-muted-1: rgb(204, 204, 204);
  --color-text-muted-2: rgb(128, 128, 128);
  --color-text-muted-3: rgb(91, 91, 91);

  --rank-1: rgb(255, 215, 0);
  --rank-2: rgb(204, 204, 204);
  --rank-3: rgb(206, 137, 70);

  --status-watching: rgb(34, 197, 94);
  --status-completed: rgb(251, 201, 53);
  --status-on-hold: rgb(87, 146, 242);
  --status-dropped: rgb(239, 68, 68);

  --success: rgb(34, 197, 94);
  --warning: rgb(251, 201, 53);
  --error: rgb(239, 68, 68);

  /* GRADIENTS */
  --gradient-page-bg: linear-gradient(
    to bottom,
    rgba(16, 16, 16, 0) 0%,
    rgba(16, 16, 16, 0) 30%,
    rgba(16, 16, 16, 0.8) 60%,
    rgb(16, 16, 16) 100%
  );

  /* FILTERS */
  --filter-brightness-active: brightness(95%);

  /* TRANSITION */
  --transition-fast: all 0.15s ease;

  /* TRANSFORM */
  --transform-translate-y-hover: translateY(-2%);

  /* BREAKPOINTS */
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 1024px;
}
