.anime-page__recommendations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3.5rem;
}

.anime-page__recommendations-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 1rem;
}

@media screen and (min-width: 576px) {
  .anime-page__recommendations-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .anime-page__recommendations-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
