.anime-page__stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.75rem;
  width: 100%;
  padding-bottom: 3rem;
}

.anime-page__stats-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem 1rem;
}
