.anime-page__relations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3.5rem;
}

.anime-page__relations-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .anime-page__relations-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
